.advantages
    width: 100%
    background-color: #f7f5fa
    padding: 120px 136px 164px
    display: flex
    flex-wrap: wrap

    h2
        width: 100%
        text-align: center
        font-size: 2.5rem
        margin-bottom: 60px
        letter-spacing: -0.02em

.advantages-card
    width: calc(100% / 3)
    display: flex
    flex-direction: column
    align-items: flex-start

    h3
        font-weight: 700
        color: #000
        margin: 30px 0 46px
        position: relative

    h3::after
      content: ''
      display: block
      position: absolute
      bottom: -24px
      width: 24px
      height: 2px
      background-color: $brand-yellow


    p
        width: 83%
        font-family: Roboto, sans-serif
        font-size: 1rem
        font-weight: normal
        line-height: 1.625rem
        color: $brand-light-grey


@media (max-width: 1200px)
    .advantages
        padding: 120px 30px 164px
        
@media (max-width: 1024px)
    .advantages-card
        width: 80%
        margin-bottom: 70px
        flex-direction: column
        align-items: center

@media (max-width: 768px)
    .advantages
        padding: 80px 5% 50px

    .advantages-card
        width: 100%                    