@keyframes fadeInUp 
  from 
    opacity: 0
    transform: translate3d(0, 100%, 0)
  
  to 
    opacity: 1
    transform: translate3d(0, 0, 0)
  
.fadeInUp 
  animation-name: fadeInUp

@keyframes fadeInLeft 
  from 
    opacity: 0    
    transform: translate3d(-100%, 0, 0)  

  to 
    opacity: 1   
    transform: translate3d(0, 0, 0)

.fadeInLeft   
  animation-name: fadeInLeft  

@keyframes fadeInRight 
  from 
    opacity: 0  
    transform: translate3d(100%, 0, 0) 

  to 
    opacity: 1    
    transform: translate3d(0, 0, 0)

.fadeInRight
  
  animation-name: fadeInRight

@keyframes flipInX 
  from 
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)    
    animation-timing-function: ease-in
    opacity: 0  

  40%    
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)    
    animation-timing-function: ease-in  

  60%    
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1 

  80%     
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)  

  to   
    transform: perspective(400px)

.flipInX 
  backface-visibility: visible !important  
  animation-name: flipInX;

@media (print), (prefers-reduced-motion) 
  .animated   
    animation: unset !important    
    transition: none !important
  
