.button
    display: block
    background-color: transparent
    padding-right: 27px;
    border: 2px solid transparent
    outline: none
    border-radius: 27px
    font-family: "Gilroy-ExtraBold", "Roboto", sans-serif
    font-size: 1rem
    font-weight: 700
    letter-spacing: 0.02em
    line-height: 54px
    color: $brand-grey
    text-decoration: none
    text-transform: uppercase
    transition: all 0.3s
    
    i
        width: 54px
        height: 54px
        border-radius: 50%
        background-color: hsla(0,0%, 53%, 0.05)
        color: $brand-yellow
        display: inline-block
        transform: rotate(45deg)
        margin-right: -14px
        font-size: 1.3rem
        font-style: normal
        line-height: 54px
        text-align: center
        transition: all 0.3s 

.button:hover,
.button:focus
    color: $brand-blue
    background-color: hsla(0,0%, 53%, 0.05)
    border: 2px solid $brand-blue
    transition: all 0.3s 

    i
        color: $brand-blue
        background-color: transparent
        transition: all 0.3s