.footer
    width: 100%
    background-color: #161616
    padding: 100px 25%
    display: flex
    flex-direction: column
    align-items: center
        
    h2
        width: 100%
        text-align: center
        color: #fff
        font-size: 2.5rem
        letter-spacing: -0.02em

.register
    width: 80%
    max-width: 576px
    padding: 20px 0 

    .form-field
        width: 100%
        background-color: transparent
        border-bottom: 2px solid hsla(240, 23%, 97%, 0.1)
        padding: 60px 0 10px
        position: relative
        margin-bottom: 10px

    label
        width: 100%
        color: #fff
        font-size: 1rem
        line-height: 1.625rem
        
    input,
    textarea
        width: 100%
        background-color: transparent
        border: none
        font-family: "Roboto", sans-serif
        font-size: 1.5rem
        line-height: 2.2rem
        color: $brand-light-grey
        margin-top: 1.5rem

    button
        width: 100%
        background-color: #fff
        border-radius: 111px
        font-family: "Gilroy", sans-serif
        font-size: 0.875rem
        font-weight: 600
        letter-spacing: 0.04em
        color: $brand-yellow
        text-transform: uppercase
        padding: 20px 0
        margin-top: 50px
        cursor: pointer
        box-shadow: 0px 4px 8px hsla(0, 0%, 0%, 0.12)
        transition: 0.3s

    button:hover,
    button:focus
        color: $brand-blue
        transition: 0.3s    

    .form-field::before
        content: ''
        display: block
        width: 64px
        height: 64px
        border-radius: 50%
        border: 1px solid hsla(0, 0%, 100%, 0.23)
        position: absolute
        top: 40px
        left: -90px
        color: $brand-yellow
        font-size: 1.25rem
        line-height: 64px
        text-align: center


    .first::before
        content: '1'

    .second::before
        content: '2'

    .third::before
        content: '3' 

    .fourth::before
        content: '4'   

@media (max-width: 1440px)
    .footer
        padding: 100px 7%  

@media (max-width: 640px)
    .footer
        padding: 100px 5% 
                                

    .register
        width: 100%

    .form-field::before
        display: none    