.header
    display: flex
    flex-direction: column
    align-items: center
    padding: 168px 0 122px 

.underline
    font-family: "Roboto", sans-serif
    font-size: 1rem
    font-weight: normal 
    line-height: 1.2rem
    margin: 1.3rem 0 2.2rem    

    a
        color: $brand-yellow
        text-decoration: none
        transition: all 0.3s 

    a:hover,
    a:focus
        color: $brand-blue
        border-bottom: 1px solid $brand-blue
        transition: all 0.3s 

@media (max-width: 768px)
    .header
        padding: 100px 5% 70px    