.main
    width: 100%
    background-color: #fff
    padding: 85px 23% 110px

    p
        font-family: Roboto, sans-serif
        font-size: 1rem
        font-weight: normal
        line-height: 1.625rem
        color: $brand-light-grey
        margin-top: 1.5rem

@media (max-width: 768px)
    .main
        padding: 85px 5% 50px

        h2
            width: 100%
            text-align: center
