.manifest
    width: 100%
    background-color: #f7f5fa
    background-image: url(../img/manifest_BG.jpg)
    background-position: top
    background-repeat: no-repeat
    padding: 500px 0 80px 0
    display: flex
    flex-wrap: wrap
    justify-content: center

.manifest-card
    width: 486px
    height: 232px
    background-color: #fff
    border: 1px solid #ededed
    padding: 50px 60px
    font-family: "DINPro", sans-serif

    p
        font-size: 1.5rem
        font-weight: normal
        line-height: 30px
        letter-spacing: -0.03em
        color: $brand-grey
        margin: 12px 0

@media (max-width: 1024px)
    .manifest-card
        width: 80%

@media (max-width: 768px)
    .manifest
        background-size: contain
        padding: 230px 5% 70px

    .manifest-card
        width: 100%    

@media (max-width: 500px)
    .manifest
        padding: 120px 5% 

    .manifest-card
        padding: 50px 20px          