@font-face {
  font-family: "DINPro";
  src: url("../fonts/DINPro.eot") format("eot"),
       url("../fonts/DINPro.ttf") format("ttf"),
       url("../fonts/DINPro.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot") format("eot"),
       url("../fonts/Gilroy-Regular.ttf") format("ttf"),
       url("../fonts/Gilroy-Regular.woff") format("woff"); 
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.eot") format("eot"),
       url("../fonts/Gilroy-Bold.ttf") format("ttf"),
       url("../fonts/Gilroy-Bold.woff") format("woff"); 
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.eot") format("eot"),
       url("../fonts/Gilroy-ExtraBold.ttf") format("ttf"),
       url("../fonts/Gilroy-ExtraBold.woff") format("woff"); 
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
