@import "fonts"
@import "normalize"

$brand-yellow: #f47821
$brand-blue: #3399ff 
$brand-grey: #222
$brand-light-grey: #4e4d53               

*
    margin: 0
    padding: 0
    box-sizing: border-box    

html
    background-color: #e5e5e5
    font-size: 16px   

body
    width: 100%
    max-width: 1440px
    margin: 0 auto
    background-color: #fff

h1
    font-family: "DINPro", sans-serif
    font-size: 3rem
    font-weight: normal
    line-height: 3.357rem
    color: #222
    letter-spacing: -1px
    margin: 0

h2
    font-family: "DINPro", sans-serif
    font-size: 3rem
    font-weight: normal
    line-height: 3.357rem
    color: #222
    letter-spacing: -0.02rem

h3
    font-family: "DINPro", sans-serif
    font-size: 1.25rem
    color: #000


h4
    font-size: 0.75rem
    font-weight: 700
    line-height: 1.1875rem
    color: $brand-yellow
    text-transform: uppercase    


@import "header"
@import "button"
@import "manifest"
@import "main"
@import "advantages"
@import "footer"
@import "animations"



